*.prj
*.exe
*.wdb
*log
*.lso
*.syr
*.xst
*.xrpt
_ngo/
_xmsgs/
*.xmsgs
*.cmd
*.gise
*.xise
*.bgn
*.bit
*.bld
*.drc
*.lso
*.ncd
*.ng*
*.pad
*.par
*.pcf
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.wcfg
*.xpi
*.xwbt
*_envsettings.html
*.map
*.mrp
*_pad.csv
*_pad.txt
*_summary.html
*_summary.xml
*_usage.xml
ipcore_dir/
iseconfig/
isim/
webtalk*
xilinx*
xlnx_auto_0_xdb/
xst/

*.swp
